.card-games {
  display: flex;
  width: 20rem;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1rem;
  flex-direction: column;
  padding: 1.2rem;
  text-align: center;
  transition: transform 0.2s;
}

.card-games:hover {
  transform: scale(1.05);
}

.descrizione-games {
  box-shadow: 10px 10px 5px gray;
  background-color: white;
}

.immagine-games {
  box-shadow: 10px 15px 5px gray;

  border-bottom: none;
  height: 25rem;
  width: 100%;
}

.descrizione-review {
  padding: 1.2rem;
  width: 50rem;
  height: 20rem;
}

.immagine-games > img {
  height: 100%;
  object-fit: cover;
}

.titolo {
  font-family: "Oswald", sans-serif;
}

.console {
  font-family: "Lora", serif;
}
