.card-games {
  display: flex;
  width: 20rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
  flex-direction: column;
  padding: 1.2rem;
  text-align: center;
  transition: transform 0.2s;
}

.card-games:hover {
  transform: scale(1.05);
  z-index: 3;
}

.whole-card {
  width: 100%;
  padding: none;
  overflow: hidden;
  border-radius: 0.25rem;
  box-shadow: 0.2rem 0.2rem 0.3rem black;
}

.descrizione-games {
  width: 100%;
  background-color: rgba(146, 145, 145, 0.229);
  color: white;
}

.immagine-games {
  border-bottom: none;
  height: 25rem;
  width: 100%;
}

.descrizione-games > p {
  margin: 0;
}
.descrizione-games {
  padding: 1.5rem 1rem;
  height: 100%;
}

.immagine-games > img {
  height: 100%;
  object-fit: cover;
}

.descrizione-games > p.titolo {
  font-family: "Oswald", sans-serif;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.2rem;
}

.descrizione-games > p.console {
  font-family: "Oswald", serif;
}
