.overview-news-component {
  padding-left: 6rem;
  padding-right: 6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.first-card {
  width: 80%;
  height: 30rem;
}

.card-container {
  width: 30rem;
  height: 20rem;
  flex-shrink: 0;
}

.lista-news {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.lista-news-secondarie {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 2rem;
  padding: 2rem 4rem;
}
