<div class="lista-videogiochi-component">
  <app-filter-aside [filterTypes]="filterTypes"></app-filter-aside>
  <div class="main-content">
    <div class="list-head" *ngIf="games != undefined">
      <h2 *ngIf="!noSelectedFilter; else noFilter">
        Filtrati per:
        <span *ngFor="let f of selectedFiltersValues">"{{ f }}" </span>
        ({{
          games.length != 1
            ? games.length + " giochi"
            : games.length + " gioco"
        }})
      </h2>
    </div>
    <div class="lista-games">
      <div class="grid-cell" *ngFor="let g of games">
        <app-card-videogioco [gamesDettaglio]="g"></app-card-videogioco>
      </div>
    </div>
  </div>
</div>

<ng-template #noFilter
  ><h2>
    Lista completa ({{
      games.length != 1 ? games.length + " giochi" : games.length + " gioco"
    }})
  </h2></ng-template
>
