<div class="dettaglioNews" *ngIf="newsDettaglio != undefined; else noDettaglio">
  VERSIONE 2

  <div class="immagine">
    <img [src]="newsDettaglio.imageUrl" />
    <p class="img-url">{{ newsDettaglio.imageUrl }}</p>
  </div>

  <div class="text">
    <div class="divisore">
      <h3>{{ newsDettaglio.title }} - {{ newsDettaglio.authorName }}</h3>
    </div>
    <div class="post-divisore">
      <p class="date-category-info">
        {{ newsDettaglio.category }} | {{ newsDettaglio.publicationDate }}
      </p>
      <p class="news-body-text">{{ newsDettaglio.content }}</p>
      <p>
        <b>Tags: </b>
        <span *ngFor="let t of newsDettaglio.tags">#{{ t }} </span>
      </p>
    </div>
  </div>
</div>

<ng-template #noDettaglio>
  <div class="dettaglioNews">
    <p>
      Nessuna notizia esistente a questo id.<br />
      <button routerLink="/">Torna alla Home</button>
    </p>
  </div>
</ng-template>
