.card-review {
  display: flex;
  border: 1px black solid;
  width: 100rem;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.descrizione-review {
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-review {
  margin-left: 7rem;
  display: flex;
  flex-wrap: wrap;
}

.card-review > * {
  flex: 1 1 30rem;
}

.contenuto-preview {
  white-space: nowrap;
  width: 55rem;
  overflow: hidden;
  text-overflow: ellipsis;
  /*border: 1px solid #000000;*/
}

.descrizione-review > h2 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  object-fit: cover;
  flex: wrap;
}

.immagini-review {
  height: 15rem;
  width: 30%;
}
.immagini-review > img {
  height: 100%;
  object-fit: cover;
}
