.dettaglio-games {
  padding: 5rem 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dettaglio-intero-gioco {
  padding: 2rem 4rem;
  background-color: white;
  max-height: 40rem;
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 0.25rem;
}

li {
  text-transform: uppercase;
  display: inline;
}

.tr-contenitore-reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  flex-wrap: nowrap;
  overflow-x: auto;
  height: fit-content;
  width: 100%;
  padding: 4rem 2rem;
}

.immagine {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.immagine > img {
  max-width: 50%;
  height: 100%;
  object-fit: contain;
}

.contenuto-gioco {
  background-color: white;
  height: 30rem;
  padding-top: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.review-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.related-reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
