<div
  class="dettaglio-games"
  *ngIf="gamesDettaglio != undefined; else noDettaglio"
>
  <table class="dettaglio-intero-gioco">
    <tr>
      <td class="td-immagine">
        <div class="immagine">
          <img class="immagine-src" [src]="gamesDettaglio.coverImage" />
          <!--<p class="img-url">{{ gamesDettaglio.coverImage }}</p>-->
        </div>
      </td>
      <td>
        <div class="contenuto-gioco">
          <p>Console: {{ gamesDettaglio.category }}</p>
          <p>Data di rilascio: {{ gamesDettaglio.releaseDate }}</p>
          <p>Genere: {{ gamesDettaglio.genre }}</p>
          <p>Sfotware House: {{ gamesDettaglio.softwareHouse }}</p>
          <p>Publisher: {{ gamesDettaglio.publisher }}</p>
          <p>Numero di giocatori: {{ gamesDettaglio.numberOfPlayers }}</p>

          <table class="tabella-lingue" style="width: 100%">
            <tr>
              <td
                *ngIf="
                  gamesDettaglio.languages.voice[0] != undefined ||
                  gamesDettaglio.languages.voice.length > 0
                "
              >
                <b>Lingue Doppiate: </b>
                <div>
                  <ul>
                    <li *ngFor="let v of gamesDettaglio.languages.voice">
                      [{{ v }}]
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
            <br />

            <tr>
              <td>
                <b>Lingue Sottotitolate: </b>
                <div>
                  <ul>
                    <li *ngFor="let t of gamesDettaglio.languages.text">
                      [{{ t }}]
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
    <tr class="tr-contenitore-reviews" *ngIf="relatedReview !== undefined">
      RECENSIONI
      <div class="related-reviews" *ngFor="let r of relatedReview">
        <div class="card-recensione">
          <app-card-recensione [reviewDettaglio]="r"></app-card-recensione>
        </div>
      </div>
    </tr>
  </table>
</div>

<ng-template #noDettaglio>
  <div class="dettaglioNews">
    <p>
      Nessuna notizia esistente a questo id.<br />
      <button routerLink="/">Torna alla Home</button>
    </p>
  </div>
</ng-template>
