.immagine {
  max-width: 100%;
  max-height: 100%;
}
.dettaglio-games {
  padding: 10rem;
  padding-left: 30rem;
  border: solid 1px black;
}

.dettaglio-intero-gioco {
  background-color: white;
  border: solid 4px black;
}

ul,
li {
  text-align: center;
  text-transform: uppercase;
}

.td-immagine {
  border: solid 4px green;
}

.immagine-src {
  height: 30rem;
}

.contenuto-gioco {
  background-color: white;
  height: 30rem;
  border: solid 4px black;
  padding-top: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
}
