.card-news {
  display: flex;
  max-width: 35rem;
  justify-content: space-between;
  margin-bottom: 1rem;
  box-shadow: 0.2rem 0.2rem 0.2rem gray;
}

.card-news:active {
  box-shadow: none;
}

.descrizione-news {
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.descrizione-news > h2 {
  margin: 0;
  font-size: 2rem;
}

.immagine-news {
  height: 8rem;
}

.immagine-news > img {
  height: 100%;
  object-fit: cover;
}
