.homepage {
  width: 100%;
  background-image: url("/assets/images/disco-skyline-wallpaper.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.homepage-body {
  width: 100%;
  /* background-color: white; */
  background-color: rgba(0, 0, 0, 0.775);
}
