<div
  class="card-review"
  [routerLink]="'/dettaglio/reviews/' + reviewDettaglio._id"
  *ngIf="reviewDettaglio !== undefined"
>
  <div class="contenuti-review">
    <div class="immagini-review">
      <img class="immagine-singola" [src]="reviewDettaglio.imageUrls[0]" />
    </div>
    <div class="descrizione-review">
      <h2>{{ reviewDettaglio.title }}</h2>
      <h4>{{ reviewDettaglio.reviewedGame.name }}</h4>
      <p>di {{ reviewDettaglio.reviewerName }}</p>
    </div>
    <h3 class="score">
      <span style="font-size: 2.3rem">{{ reviewDettaglio.score }}</span> /10
    </h3>
  </div>

  <!--- <button [routerLink]="'/dettaglio-games/' + id">dettaglio</button>-->
</div>
