.seeMore {
  background-color: rgba(0, 0, 0, 0.422);
  border: solid 3px white;
  color: white;
  text-align: center;
  vertical-align: middle;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.seeMore:hover {
  transform: scale(1.05);
  transform: translateX(1rem);
  box-shadow: 0rem 0rem 0.3rem gray;
  transition-duration: 0.3s;
  transition-property: all;
}
