.aside-filter {
  background-color: yellow;
  background-attachment: fixed;
  width: 0rem;
  position: relative;
  height: 100%;
  transition-property: all;
  transition-duration: 0.6s;
}

.toggle-button {
  background-color: yellow;
  border: solid 2px blue;
  position: absolute;
  right: -3vw;
  top: 5rem;
}
.aside-shown {
  width: 15rem;
  transition-property: all;
  transition-duration: 0.6s;
}

.aside-content {
  padding: 4rem 2rem;
  transform: translateX(-15rem);
  transition-property: all;
  transition-duration: 0.5s;
  white-space: nowrap;
  text-overflow: clip;
}

.aside-content-shown {
  transform: none;
  transition-property: all;
  transition-duration: 0.5s;
}

.cell-format {
  margin: 0;
  display: block;
  height: 2rem;
  text-overflow: ellipsis;
}

.cell-format:active {
  background-color: red;
  color: white;
}
