<div class="lista-news-component">
  <app-filter-aside
    (selectedFilter)="filterListByCategoria($event)"
    [filterTypes]="filterTypes"
  ></app-filter-aside>
  <div class="main-content">
    <h1 class="title">Lista News</h1>
    <h3
      *ngIf="
        selectedCategoryFilter !== '' && selectedCategoryFilter !== undefined
      "
    >
      Filtrate per {{ selectedCategoryFilter }}
    </h3>
    <div class="news-list">
      <div class="news" *ngFor="let n of news">
        <div class="immagine">
          <img [src]="n.imageUrl" [title]="n.imageUrl" [alt]="n.imageUrl" />
        </div>
        <div class="text">
          <div class="title">
            <h3>{{ n.title }} - {{ n.authorName }}</h3>
          </div>
          <div class="news-body">
            <p class="date-category-info">
              {{ n.category }} | {{ n.publicationDate }}
            </p>
            <div class="news-body-text">
              <p>{{ n.content }}</p>
            </div>
            <div class="tags">
              <b>Tags: </b>
              <div *ngFor="let t of n.tags">#{{ t }}</div>
            </div>
          </div>
        </div>
      </div>
      <!-- fine contenitore news singola -->
    </div>
  </div>
</div>
