<div class="lista-news-component">
  <app-filter-aside
    (selectedFilter)="filterListByCategoria($event)"
    [filterTypes]="filterTypes"
  ></app-filter-aside>
  <div class="main-content">
    <div class="list-head">
      <h2
        *ngIf="
          selectedCategoryFilter !== '' && selectedCategoryFilter !== undefined;
          else noFilter
        "
      >
        Filtrate per: {{ selectedCategoryFilter }} ({{
          news.length != 1 ? news.length + " giochi" : news.length + " gioco"
        }})
      </h2>
    </div>
    <div class="news-list">
      <div
        class="news"
        *ngFor="let n of news"
        [routerLink]="'/dettaglio/news/' + n._id"
      >
        <div class="immagine">
          <img [src]="n.imageUrl" [title]="n.imageUrl" [alt]="n.imageUrl" />
        </div>
        <div class="text">
          <div class="news-title">
            <h2>{{ n.title }}</h2>
          </div>
          <div class="news-body">
            <p class="date-category-info">
              {{ n.category }} | {{ n.publicationDate }}
            </p>
            <div class="news-body-text">
              <p>{{ n.content }}</p>
            </div>
            <div class="tag-container">
              <p>
                <b>Tags: </b
                ><app-tag-chip
                  *ngFor="let t of n.tags"
                  [tagLink]="'/'"
                  [tagText]="t"
                >
                </app-tag-chip>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- fine contenitore news singola -->
    </div>
  </div>
</div>

<ng-template #noFilter><h2>Lista completa</h2></ng-template>
