.lista-news-component {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.list-head {
  color: white;
  text-align: right;
}

.news-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.main-content {
  width: 100%;
  padding: 4rem 7rem;
  padding-bottom: 8rem;
}

.news {
  background-color: white;
  display: flex;
  height: 20rem;
  /* overflow: hidden; */
  width: 100%;
  box-shadow: 0.2rem 0.2rem 0.2rem black;
  transition: transform 0.3s;
}

.news:hover {
  transform: scale(1.012);
}

.text {
  height: 100%;
  width: 100%;
}
.news-body-text {
  max-height: 5rem;
  text-align: justify;
}

.news-body-text p {
  max-height: 5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  margin: 0;
}

.immagine {
  height: 100%;
  width: 30rem;
}

.immagine > img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

.news-title {
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: darkgray;
}

.news-title > h2 {
  padding: 1rem;
  text-align: left;
  margin: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.publication-info {
  background-color: darkred;
  color: white;
  padding: 1rem;
  text-align: center;
  width: 10rem;
}

.news-body {
  max-height: 100%;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.tag-container {
  display: flex;
  align-items: center;
}
