.lista-news-component {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.news-list {
  width: 100%;
}

.main-content {
  width: 100%;
  padding: 4rem;
}

.news {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* height: 30rem; */
  height: fit-content;
  width: 100%;
  padding-bottom: 5rem;
}
.text {
  max-height: 30rem;
  height: 100%;
  border: 3px black solid;
  background-color: darkgray;
}
.news-body-text {
  height: 100%;
  overflow: hidden;
}

.news > .immagine {
  border: 3px black solid;
  height: 100%;
  width: 20rem;
}

.news > .text {
  width: 100%;
}

.news-title {
  padding-top: 1rem;
  background-color: darkgray;
  padding-bottom: 1rem;
  text-align: center;
}

.news-body {
  height: 100%;
  flex-direction: column;
  gap: 1rem;
  display: flex;
}

.post-divisore {
  overflow-x: auto;
}
