.lista-news-component {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.news-list {
  width: 100%;
}

.main-content {
  width: 100%;
}

.news {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.news > .immagine {
  width: 20rem;
}

.news > .text {
  width: 100%;
}

.divisore {
  background-color: darkgray;
  padding: 2rem;
}

.post-divisore {
  border-style: solid;
  margin-bottom: 4rem;
}
