.lista-news-component {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.list-head {
  color: white;
  text-align: right;
}

.news-list {
  width: 100%;
}

.main-content {
  width: 100%;
  padding: 4rem 7rem;
  padding-bottom: 8rem;
}

.news {
  background-color: white;
  display: flex;
  align-items: center;
  height: 30rem;
  overflow: hidden;
  width: 100%;
  padding-bottom: 5rem;
}
.text {
  max-height: 30rem;
  height: 100%;
}
.news-body-text {
  height: 100%;
  overflow: hidden;
}

.immagine {
  height: 100%;
  width: 30rem;
}

.immagine > img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

.news > .text {
  width: 100%;
}

.news-title {
  padding-top: 1rem;
  background-color: darkgray;
  padding-bottom: 1rem;
  text-align: center;
}

.publication-detail {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.author-details {
  display: flex;
  justify-content: flex-start;
  padding-left: 5rem;
}

.author-details p {
  display: block;
}

.news-body {
  height: 100%;
  flex-direction: column;
  gap: 1rem;
  display: flex;
}

.post-divisore {
  overflow-x: auto;
}
