.title {
  margin-left: 3.5rem;
}

.lista-reviews {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px black solid;
}

.sortbar {
  display: flex;
  justify-content: flex-end;
}

.lista-recensioni.component {
  padding-bottom: 4rem;
}

.main-content {
  width: 100%;
  padding: 4rem 7rem;
  padding-bottom: 8rem;
}
